* {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    
    aside {display: block;
}
  
nav {top: 0;
}

.sidebar-container {
    height: 100%;
    position: fixed;
    padding: 60px;
    width: 180px;
}

